global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http-in
    bind *:80
    acl is_api path_beg /api/
    acl is_stats path_beg /stats
    use_backend backend if is_api
    use_backend stats_backend if is_stats
    default_backend frontend

backend frontend
    server frontend frontend:3000

backend backend
    balance roundrobin
    server s1 backend1:8000 check
    server s2 backend2:8000 check

backend stats_backend
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
    
